@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide-down {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(10%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes banner-slide {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 1;
  }
}

@layer base {
  .animate-slide-down {
    animation: slide-down 200ms ease-out forwards;
  }
  .animate-slide-left {
    animation: slide-left 200ms ease-in-out forwards;
  }
  .animate-banner-slide {
    animation: banner-slide 200ms ease-in-out forwards;
  }

  html {
    font-family: "AppleSDGothicNeo", "Noto Sans KR", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #1d1d1f;
  }
}
